.service {
    height: calc(100vh - 60px);
    top: 30px;
}

.containers {
    margin: auto;
    width: 60%;
    height: 800px;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    background-color: rgba(190, 237, 255, 0.489);
}


.headerAbout {
    display: flex;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-top: 2%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
}

.idea {
    padding-bottom: 8px;
}