.findEmptyFieldContainer {
    font-size: 15px;
    font-style: italic;
}

.showIsValid {
    color: blue;
    margin: 35%;
    padding-left: 11.5%;
}

.showIsInvalid {
    color: red;
    margin: 11.5%;
    padding: 33%;
}