.search {
    width: 350px;
    height: 44px;
    border: 1px solid rgb(14, 15, 15);
    border-color: rgb(109, 152, 155);
    margin-top: -12.5%;
    margin-left: 367%;
    background-color: #d5e9fa;
}

.dropdown {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(14, 15, 15);
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    font-size: 17px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.dropdown-row:hover {
    color: white;
    background-color: rgb(98, 161, 158);
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

input {
    width: 220px;
    background-color: transparent;
    padding-top: 1px;
}

.search-inner {
    display: flex;
}

.searchInput {
    font-size: 18px;
    width: 270px;
}

.searchBtn {
    font-size: 12px;
    margin-top: -1.5px;
    margin-left: auto;
}

.spanFindPlace {
    font-weight: bold;
}

.transitionButton {
    background: none;
    border: none;
    width: 43px;
    height: 43px;
    position: relative;
    left: 1640px;
}

.notFoundField {
    width: 330px;
    height: 50px;
    text-align: center;
    background-color: rgb(151, 109, 109);
}

.spanNotFound {
    font-size: 21px;
    color: white;
}