/* #createPlace { */
    /* position: sticky;
    width: 1200px;
    height: 887px; */
    /* height: 748px; */
    /* border-radius: 20px;
    padding: 21px;
    padding-right: 5px;
    margin-left: 130px;
    box-sizing: border-box;
    background: #57ec89; */
    /* background: url("C:\Users\Atanas\Desktop\paragliding_place\client\paragliding-place-client\public\images\locationParaglider.jpg"); */
    /* box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21; */
/* } */

/* container */
.threeColumnsGrid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    padding-left: 210px;
}

/* columns */
.threeColumnsGrid>* {
    padding: 1rem;
}

/* left side of the panel */
.leftSide {
    width: 400px;
    height: 700px;
    margin-left: 90px;
    margin-top: 50px;
    background: url("C:\Users\Atanas\Desktop\paragliding_place\client\paragliding-place-client\public\images\paraglidingCreatePlaceNew.jpg");
    background-position: 50%;
    /* background-color: rebeccapurple; */
}

/* right side of the panel */
.rightSide {
    width: 600px;
    height: 800px;
    background-color: rgba(132, 201, 137, 0.445);
}

.header {
    padding-left: 36%;
    /* font-family: "Sans-Serif"; */
}

.headerDifficultyLevel {
    font-size: 20px;
    font-weight: bold;
    margin-left: 39%;
    margin-top: 3%;
    color: black;
}

.headerDirections {
    font-size: 20px;
    font-weight: bold;
    margin-left: 43%;
    margin-top: 3%;
    color: black;
}

.tablePosition {
    margin-left: 13%;
}

th {
    padding-left: 6px;
}

input[type="number"] {
    background: #ecf0f3;
    height: 35px;
    width: 158px;
    margin-left: 13%;
    margin-top: 1px;
    font-size: 17px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

/* input[type="number"]{ padding: 20px 10px; line-height: 28px; } */

.submit {
    background: #017aff;
    margin-top: 6%;
    margin-left: 25%;   
    /* background: #7abce5; */
    height: 41px;
    width: 300px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
    transition: 0.5s;
}

.submit:hover {
    color: white;
    background-color: #013b79;
    /* background-color: #268ccb; */
}

.submitDisabled {
    margin-top: 60px;
    opacity: 0.7;
    background: #0a2b4d;
    /* background: #7abce5; */
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
    transition: 0.5s;
}

.submitDisabled:hover {
    color: white;
    cursor: no-drop;
    visibility: visible;
    /* background-color: #268ccb; */
}

input[type=radio] {
    display: none;
}

.ratingParagraph {
    display: inline;
    font-size: 21px;
    padding-left: 5%;
    color: rgb(205, 248, 217);
}

.chooseRating {
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 200, 68);
}

.showErrors {
    font-size: 20px; 
    font-weight: bold;
    color: red;
    margin: 8%;
    padding-left: 11.5%; 
}