.container {
    height: calc(112vh - 60px);
    padding-top: 10px;
    top: 30px;
    background-color: rgb(238, 246, 255);
}

.threeColumnsGrid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    padding-left: 210px;
}

/* columns */
.threeColumnsGrid>* {
    padding: 1rem;
}

/* left side of the panel */
.leftSide {
    width: 400px;
    height: 700px;
    margin-left: 90px;
    margin-top: 50px;
    background: url("C:\Users\Atanas\Desktop\paragliding_place\client\paragliding-place-client\public\images\paraglidingCreatePlaceNew.jpg");
    background-position: 50%;
    /* background-color: rebeccapurple; */
}

/* right side of the panel */
.rightSide {
    width: 600px;
    height: 943px;
    margin-left: 10px;
    background-color: rgba(134, 221, 253, 0.445);
    /* background-color: rgba(132, 201, 137, 0.445); */
}

.header {
    padding-left: 36%;
    /* font-family: "Sans-Serif"; */
}

.headerDifficultyLevel {
    font-size: 20px;
    font-weight: bold;
    margin-left: 39%;
    margin-top: 3%;
    color: black;
}

.headerDirections {
    font-size: 20px;
    font-weight: bold;
    margin-left: 43%;
    margin-top: 3%;
    color: black;
}

.tablePosition {
    margin-left: 13%;
}

th {
    padding-left: 6px;
}

input[type="number"] {
    background: #ecf0f3;
    height: 35px;
    width: 158px;
    margin-left: 13%;
    margin-top: 1px;
    font-size: 17px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.submit {
    background: #017aff;
    margin-top: 12%;
    margin-left: 25%;
    height: 41px;
    width: 300px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

.submit:hover {
    color: white;
    background-color: #013b79;
}

.submitDisabled {
    background: #5e6063;
    margin-top: 12%;
    margin-left: 25%;
    height: 41px;
    width: 300px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

.submitDisabled:hover {
    color: white;
    cursor: no-drop;
    visibility: visible;
}

.buttonsEdit {
    margin-top: 12%;
    margin-left: 41%;
    /* margin-left: 35%; */
}

.submitEdit {
    background: #017aff;
    height: 41px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

.submitEdit:hover {
    color: white;
    background-color: #013b79;
}

.submitEditDisabled {
    background: #5e6063;
    height: 41px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

.submitEditDisabled:hover {
    color: white;
    cursor: no-drop;
    visibility: visible;
}

.backButton {
    position: absolute;
    margin-top: -2.6%;
    margin-left: -3%;
    /* margin-left: -0.5%; */
    border-radius: 20px;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

input[type=radio] {
    display: none;
}

.ratingParagraph {
    display: inline;
    font-size: 21px;
    padding-left: 5%;
    color: rgb(205, 248, 217);
}

.chooseRating {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 200, 68);
}

.showErrors {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: red;
    /* margin: 8%; */
    padding-top: 10px;
    padding-left: 8%;
}