.container {
    display: flex;
    width: 1000px;
    height: 540px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(211, 245, 255);
}

.errorMessage{
    font-size: 28px;
    font-weight: bold;
    margin-top: 5%;
    padding-left: 28%;
    position: relative;
}

.errorImage {
    margin: auto;
    padding-left: 16%;
    position: relative;
}

.errorDivLink {
    margin: auto;
    margin-top: 5%;
    padding-left: 18%;
    position: relative;
}

.errorLink {
    text-decoration: none;
}
.errorLink:hover {
    color: rgb(197, 111, 111);
}