.container {
    display: flex;
    width: 1000px;
    height: 540px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(211, 245, 255);
}

.message {
    margin: auto;
    width: 44%;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}

.image {
    margin: auto;
    padding-left: 16%;
    position: relative;
}

.homeDivLink {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}

.homePageLink {
    text-decoration: none;
}

.homePageLink:hover {
    color: rgb(197, 111, 111);
}

/* Change password */

.header {
    position: relative;
    margin-left: 65%;
    height: 50px;
    width: 300px;
    font-size: 28px;
    font-weight: bold;
}

.changePasswordDiv {
    width: 600px;
    height: 60%;
    padding: 10px;
    margin-top: 5%;
    margin-left: 30%;
    font-size: 28px;
    font-weight: bold;
    
    /* border-style: solid;
    border-width: 1px;
    color: #000000; */
}

.passwordLabel {
    width: 400px;
    display: block;
    color: black;
    font-size: 18px;
    white-space: nowrap;
}

.passwordDiv {
    padding-top: 18px;
}

.changePasswordInput {
    background: #ecf0f3;
    height: 35px;
    width: 380px;
    margin-top: -1%;
    font-size: 17px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}